@media screen and (min-width: 1024px) {
  .home {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .home .left-column {
    margin: 0;
  }
  .home .right-column img {
    width: 450px;
    max-width: 500px;
    display: block;
  }

  .about {
    flex-direction: row;
    width: 80%;
  }

  #projects-container {
    padding-bottom: 38rem;
  }
  .cards .card {
    width: 450px;
    height: 500px;
  }
  .cards .card .banner img {
    height: 300px;
  }
  .cards a {
    margin-left: 2rem;
  }
  .cards a > i {
    right: 4rem;
  }
  .cards a:hover > i {
    right: 3rem;
  }

  .fa-chevron-left {
    left: -7rem;
  }
  .fa-chevron-right {
    right: -7rem;
  }
}
