* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
/* Scrollbar */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background-color: var(--black-700);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primaryColor);
  border-radius: 10px;
}
::selection {
  background-color: #fff;
  color: #000;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--black-800);
}
:root {
  --primaryColor: #00d4ff;
  --black-600: #3a3a3a;
  --black-700: #2a2a2a;
  --black-800: #1a1a1a;
  --black-900: #0c0c0c;
}
.default-color {
  color: var(--primaryColor);
}

/* Navbar Section */
#navbar-container {
  width: 100%;
  height: 70px;

  border-top: 2px solid #222;
  transition: 0.3s ease;
  background-color: var(--black-800);

  position: fixed;
  bottom: 0;
  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar {
  height: 100%;
  width: 90%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: 0.3s ease;
}
.navbar .logo {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
}

.navbar .menu-btn {
  border: none;
  background: none;
  height: 30px;
  width: 30px;
  cursor: pointer;
  position: relative;
  z-index: 4;

  transition: 0.3s ease;
}
.navbar .menu-btn::before {
  position: absolute;
  top: 10px;
  right: 0;
  content: "";
  width: 1.8rem;
  height: 2px;
  background-color: #fff;
  transition: 0.3s ease;
}
.navbar .menu-btn::after {
  position: absolute;
  bottom: 10px;
  right: 0;
  content: "";
  width: 1.8rem;
  height: 2px;
  background-color: #fff;
  transition: 0.3s ease;
}
#navbar-container.active .menu-btn::before {
  top: 50%;
  transform: rotate(-45deg);
  background-color: var(--primaryColor);
}
#navbar-container.active .menu-btn::after {
  top: 50%;
  transform: rotate(45deg);
  background-color: var(--primaryColor);
}

.navbar .menu-container {
  height: 240px;
  width: 100%;
  position: fixed;
  bottom: -300px;
  left: 0;
  right: 0;
  z-index: 3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  font-size: 2rem;
  list-style: none;
  transition: 0.3s ease-out;
}
#navbar-container.active {
  height: 240px;
}
#navbar-container.active .logo {
  visibility: hidden;
}
#navbar-container.active .menu-container {
  border-top: 2px solid #222;
  bottom: 0;
}
#navbar-container.active .navbar {
  align-items: flex-start;
  justify-content: end;
  padding-top: 1rem;
}

.navbar li {
  color: #aaa;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
}
.navbar img {
  height: 25px;
  width: 25px;
  object-fit: contain;
}

/* Home section */
#home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px);
  width: 100%;
  min-height: 500px;
  background: var(--black-800);
  color: #fff;
}
.home {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  padding: 3rem 0;
}
.home .left-column {
  width: max-content;
  margin: 4rem auto 0 auto;
}
.home .right-column img {
  display: none;
}
.home .text-1 {
  font-size: 1.7rem;
}
.home .text-2 {
  font-size: 2.8rem;
  font-weight: 500;
  letter-spacing: 0.4rem;
}
.home .text-3 {
  margin: 0.4rem 0;
  display: flex;
  align-items: center;
}
.home .text-3 .text {
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
}
.home .text-3 .typing-container {
  margin-left: 10px;
  height: 2.5rem;
  overflow: hidden;
}
.home .text-3 .typing-message {
  color: var(--primaryColor);
  font-weight: 600;
  list-style: none;
  line-height: 2.5rem;
  font-size: 1.9rem;
  position: relative;
  left: 0;
  top: 0;
  animation: slide 6s steps(2) infinite;
}
@keyframes slide {
  100% {
    top: -5rem;
  }
}
.home .text-3 .typing-message::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: var(--black-800);
  border-left: 2px solid var(--primaryColor);
  animation: typing 1.5s steps(10) infinite alternate;
}

@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -35px 0 35px;
  }
}

.home p {
  color: #aaa;
  font-size: 0.8rem;
  margin: 1rem 0 2rem 0;
}

.home .cv-btn {
  color: #fff;
  background-color: var(--primaryColor);
  font-weight: 700;
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  transition: 0.3s ease-in-out;
}

.btn-explore {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  color: var(--primaryColor);
  font-size: 1.8rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;

  animation: btnExplore 1s ease-in-out infinite alternate;
}
@keyframes btnExplore {
  0% {
    bottom: 15px;
  }
  100% {
    bottom: 0px;
  }
}

/* About section */
#about-container {
  width: 100%;
  padding: 3rem 0;
  color: #ddd;
  background-color: var(--black-800);
  border-top: 1px solid #222;
  border-bottom: 1px solid #222;
  position: relative;
}
#about-container h2 {
  width: max-content;
  margin: 1rem auto 4rem auto;
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
  position: relative;
}
#about-container h2::before {
  content: "";
  position: absolute;
  width: 140%;
  height: 4px;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
}
#about-container h2::after {
  content: "Quem sou eu";
  position: absolute;
  width: max-content;
  color: var(--primaryColor);
  background-color: var(--black-800);
  font-size: 0.9rem;
  bottom: -0.9rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 0.4rem;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.about .column-left img {
  height: 300px;
  width: 300px;
}

.about .column-right {
  width: 90%;
  line-height: 1.6rem;
}
.about .column-right p {
  margin-bottom: 2rem;
}

.links {
  display: flex;
  gap: 1rem;
}
.links a {
  background-color: var(--black-700);
  font-size: 1.1rem;
  margin-top: 0.5rem;
  padding: 0.4rem 1rem;
  border-radius: 1rem;
  font-weight: 500;
  display: flex;
  gap: 0.4rem;
  align-items: center;
  width: max-content;
  color: #fff;
}

.skills-container p {
  text-align: center;
  margin: 2rem 0;
  font-weight: 500;
  font-size: 1.2rem;
  color: #fff;
}
.skills {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.4rem;
  backdrop-filter: blur(10px);
}
.skills .skill {
  font-weight: 500;
  color: #fff;
  border-radius: 1rem;
  height: 140px;
  width: 140px;
  background-color: #2229;
  box-shadow: 0 0 1rem #111;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;

  transition: 0.1s ease;
}
.skills .skill img {
  width: 70px;
  height: 70px;
  object-fit: contain;
}

/* Projects section */
#projects-container {
  width: 100%;
  padding: 1rem 0;
  color: #fff;
  background: var(--black-800);
}
#projects-container h2 {
  text-align: center;
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
#projects-container input {
  display: none;
}

.cards {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.cooming-soon .banner {
  position: relative;
  overflow: hidden;
  filter: grayscale(90%);
}
.cooming-soon .banner::after {
  position: absolute;
  content: "Em breve";
  font-weight: bold;
  font-size: 1.5rem;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff9;
}

.cards .card {
  height: 450px;
  width: 350px;

  border-radius: 0.8rem;
  backdrop-filter: blur(10px);
  border: 1px solid var(--black-700);
  overflow: hidden;
  position: relative;

  display: flex;
  flex-direction: column;
}
.cards .card .banner img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}
.cards .card .icons-card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.cards .card .icons-card .icon img {
  height: 20px;
  width: 20px;
  filter: grayscale(1);
}
.cards .title-card {
  text-align: center;
  color: #ccc;
  font-weight: 500;
}
.cards .description-card {
  color: #aaa;
  width: 85%;
  margin: 0 auto;
  text-align: justify;
}
.cards a {
  margin-left: 1rem;
  width: 35%;
  display: flex;
  align-items: center;
  color: var(--primaryColor);
  font-weight: 500;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s ease;
}
.cards a > i {
  position: absolute;
  right: 2rem;
  top: 0.35rem;
  transition: 0.3s ease;
}
.cooming-soon > a {
  display: none;
}

.fa-chevron-right,
.fa-chevron-left {
  visibility: hidden;
}

/* Contacts section */
#contacts-container {
  position: fixed;
  inset: 0;
  z-index: 4;
  background-color: #1119;
  display: none;
  justify-content: center;
  align-items: center;
}
#contacts-container.active {
  display: flex;
}
.contacts {
  width: 90%;
  max-width: 450px;
  background-color: var(--black-800);
  color: #eee;
  box-shadow: 0 0 1.2rem #0009;
  padding: 2rem;
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 1rem;
  position: relative;
}
#contacts-container.active .contacts {
  animation: modal 0.3s ease;
}
@keyframes modal {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}

.contacts .fa-xmark {
  position: absolute;
  right: 1.4rem;
  top: 1.4rem;
  font-size: 1.4rem;
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease;
}
.contacts h2 {
  color: var(--primaryColor);
  margin-bottom: 1rem;
}

.contacts .my-email {
  width: max-content;
  border-radius: 1rem;
  padding-left: 1rem;
  margin-left: -1rem;
  background-color: var(--black-800);
  color: #aaa;
  box-shadow: 0 0 1rem #0008;
  font-size: 0.8rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  line-height: 1.5rem;
}
.contacts .my-email .email-content i {
  color: var(--primaryColor);
  font-size: 1rem;
}
.contacts .my-email .copy-btn {
  background-color: #151515;
  border: 1px solid #222;
  color: #aaa;
  font-weight: 500;
  padding: 0.2rem 0.6rem;
  border-radius: 1rem;
  cursor: pointer;
}
.contacts .contact-buttons {
  margin-top: 0.5rem;
  border-top: 1px solid #222;
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.contacts .contact-buttons .contact {
  color: #aaa;
  border-radius: 50%;
  border: 2px solid var(--black-700);
  height: 3.5rem;
  width: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  cursor: pointer;
  transition: 0.2s ease;
}
.contacts .contact-buttons .contact img {
  height: 30px;
  width: 30px;
  filter: grayscale(1);
}

/* Footer */
footer {
  text-align: center;
  font-weight: 400;
  background-color: var(--black-800);
  border-top: 1px solid #222;
  color: #fff;
  line-height: 3rem;
  font-size: 0.8rem;
  padding-bottom: 70px;
}

footer span {
  font-weight: 500;
  color: var(--primaryColor);
}
