@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');

/* General */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-padding-top: 40px;
}

body {
    background-color: #000;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: #eee;
}

.text-blue {
    color: #00D4FF;
}

/* Scrollbar */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background-color: #000;
}

*::-webkit-scrollbar-thumb {
    background-color: #00D4FF;
    border-radius: 10px;
}

/* Barra de navegação */
#navbar {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.6s ease-in-out;
}

.navbar-container {
    min-width: 80%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-container .logo {
    color: #ccc;
    font-weight: 500;
    cursor: pointer;
}

.navbar-container .menu-mobile {
    background: none;
    border: none;
    font-size: 1rem;
    display: none;
    cursor: pointer;
}

.navbar-container .menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar-container .menu .menu-item {
    padding: 0 20px;
    color: #aaa;
    font-size: 1.1rem;
    position: relative;
    cursor: pointer;
}

.navbar-container .menu .menu-item:hover {
    color: #fff;
}

.navbar-container .menu .menu-item::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: #00D4FF;
    position: absolute;
    bottom: -4px;
    left: 50%;
    transition: 0.3s ease;
}

.navbar-container .menu .menu-item::before {
    content: "";
    width: 0%;
    height: 2px;
    background-color: #00D4FF;
    position: absolute;
    bottom: -4px;
    right: 50%;
    transition: 0.3s ease;
}

.navbar-container .menu .menu-item:hover::after,
.navbar-container .menu .menu-item:hover::before {
    width: 25%;
}

/* Início */
#showcase {
    height: 100vh;
    width: 100%;
    color: #eee;
    background-color: #080808;
}

.showcase-container {
    height: 100%;
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    border-radius: 20px;
    padding: 50px;
}

.showcase-container h1 {
    font-size: 5rem;
    letter-spacing: 10px;
    text-transform: uppercase;
    color: #00D4FF;
    line-height: 5rem;
    padding: 20px 0;
}

.showcase-container p {
    font-size: 1.2rem;
}

.showcase-container h2 {
    font-size: 1.5rem;
    letter-spacing: 20px;
}

.showcase-container small {
    padding: 20px 0;
    color: #aaa;
}

.showcase-container .links {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.showcase-container .links .resume a{
    padding: 10px 20px;
    background-color: #00D4FF;
    border-radius: 20px;
    font-weight: 500;
}

.showcase-container .links .resume a:hover {
    box-shadow: 0 0 10px #00D4FF;
    cursor: pointer;
}

.showcase-container .links .social-media {
    display: flex;
    font-size: 1.2rem;
}

.showcase-container .links .social-media .fa-linkedin-in {
    padding: 5px 7px;
    color: #555;
    border-radius: 50%;
    transition: 0.8s;
}

.showcase-container .links .social-media .fa-github {
    padding: 5px;
    color: #555;
    border-radius: 50%;
    transition: 0.4s;
}

.showcase-container .links .social-media .fa-linkedin-in:hover {
    color: #fff;
}

.showcase-container .links .social-media .fa-github:hover {
    color: #fff;
}

#showcase .btn-explore {
    position: absolute;
    left: 50%;
    font-size: 1.5rem;

    animation-name: btnExplore;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes btnExplore {
    0% {
        bottom: 15px;
    }
    100% {
        bottom: 0px;
    }
}

#showcase .btn-explore a:hover {
    color: #00D4FF;
}

/* Sobre */
#about {
    height: max-content;
    width: 100%;
    background-color: #111;
    display: flex;
    justify-content: center;
}

.about-container {
    padding: 50px 0;
    color: #ccc;
    max-width: 750px;
    display: flex;
    align-items: center;
}

.about-container .fa-user {
    font-size: 9rem;
    color: #eee;
    padding: 20px;
    border: 2px solid #222;
    border-radius: 20px;
    background-color: #000;
}

.about-container .about-content {
    padding: 40px;
}

.about-container .about-content h2 {
    text-transform: uppercase;
    font-weight: normal;
    color: #eee;
}

.about-container .about-content p {
    padding: 10px 0;
    line-height: 1.5rem;
}

.about-container .about-content .email {
    margin-top: 30px;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222;
    padding: 7px;
    border-radius: 5px;
}

.about-container .about-content .email .my-email {
    padding-right: 5px;
}

.about-container .about-content .email .my-email i {
    font-size: 1.2rem;
    color: #00D4FF;
}

.about-container .about-content .email .email-btn {
    border: none;
    background-color: #00D4FF;
    color: #000;
    font-weight: 800;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

/* Trends */
.trend-container.active {
    height: 100%;
    width: 100%;
    display: block;
}

.trend-container {
    display: none;
}

.trend-container input[type=radio] {
    display: none;
}

.trend-container .trend-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.trend-container .trend-cards .card {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 0;
    transition: 0.4s;
}

#slide1:checked ~ .trend-cards .c3,
#slide2:checked ~ .trend-cards .c1,
#slide3:checked ~ .trend-cards .c2 {
    transform: translate(-30%) scale(90%);
    opacity: 40%;
    z-index: 0;
    background-color: #181818;
    cursor: pointer;
}

#slide1:checked ~ .trend-cards .c2,
#slide2:checked ~ .trend-cards .c3,
#slide3:checked ~ .trend-cards .c1 {
    transform: translate(30%) scale(90%);
    opacity: 40%;
    z-index: 0;
    background-color: #181818;
    cursor: pointer;
}

#slide1:checked ~ .trend-cards .c1,
#slide2:checked ~ .trend-cards .c2,
#slide3:checked ~ .trend-cards .c3 {
    transform: translate(0%) scale(100%);
    opacity: 100%;
    z-index: 1;
    background-color: #000;
}

#project-btn {
    position: absolute;
    top: 600px;
    left: 50%;
    transform: translate(-50%);
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

/* Projects */
#projects {
    min-height: 100vh;
    width: 100%;
    padding: 50px;
    background-color: #080808;
    position: relative;
}

#projects h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 40px;
    color: #ccc;
}

.projects-container {
    max-width: 1120px;
    width: 100%;
    display: none;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
    position: relative;
}

.projects-container.active {
    display: grid;
}

.card {
    max-width: 320px;
    height: 440px;
    display: block;
    margin: auto;
    color: #fff;
    background-color: #000;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 3px 3px 8px #08080899;
}

.projects-container .card:hover {
    outline: 2px solid #00D4FF;
    transform: translateY(-6px);
    transition: transform .3s ease-in-out;
}

.card .icons-card {
    text-align: end;
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #333;
}

.card img {
    width: 100%;
    border: 2px solid #151515;
    border-radius: 10px;
}

.card .title-card {
    text-align: center;
    color: #00D4FF;
    padding: 20px 0;
}

.card .description-card {
    font-size: 0.8rem;
    color: #aaa;
}

.card a {
    display: block;
    width: 60%;
    text-align: center;
    margin: 25px auto 0 auto;
    background-color: #00D4FF;
    color: #000;
    padding: 10px 0;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    transition: 0.3s;
}

@media screen and (max-width: 1149px) {
    .projects-container {
        grid-template-columns: repeat(2, 1fr);
    }
}